body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(96, 96, 228);
}

#canvas {
  position: relative;
  left: -10px;
  top: 30px;
  border: 1px solid black;
  margin: 0px auto;
}

#score {
  margin-left: 160px;
  font-size: 50px;
  color: orange;
}

  
  #instructions {
    float: left;
    margin-top: 70px;
    padding: 50px;
    color: orange;
    font-size: 25px;
  }



button {
  position: relative;
  left: 140px;
  bottom: 50px;
  font-size: 30px;
  background-color: orange;
  color: #fff;
  padding: 20px 70px;
  border-radius: 10px;
}

#instructions img {
  width: 40px;
}

.container {
  display: flex;
  flex-direction: row;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.right-column {
  margin-left: 20px;
}

#speech-button {
  position: relative;
  left: 140px;
  background-color: orange;
  color: #fff;
  border-radius: 10px;
  height: 60px;

}
#speech-button img{
  width: 60px;
  position: relative;
  bottom: 15px;
}