body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(199, 243, 228);
}

#canvas {
  position: relative;
  left: -10px;
  top: 30px;
  border: 1px solid black;
  margin: 0px auto;
}

#score {
  margin-left: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
}

  
  .text-wrapper {
    float: left;
    margin-top: 70px;
    padding: 50px;
  }



button {
  position: relative;
  left: 60px;
  bottom: 70px;
  font-size: 30px;
  background-color: #00873d;
  color: #fff;
  padding: 20px 70px;
  border-radius: 10px;
}

.text-wrapper img {
  width: 40px;
}

.container {
  display: flex;
  flex-direction: row;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.right-column {
  margin-left: 20px;
}
